<html>
	<head>
		<title>Document</title>
		<style>
			.image{
				
				display: block;
				float: right;
			}
			#h1{
			font-size: 40px;
			text-align: center;
			margin-top: -15px;
			text-indent: 100px;
			border-style: dashed;
			text-shadow: 3px 3px 3px black;
			color: white;
			padding-top: 20px;
			border-radius: 20px;
			}

			
			
			.top {float: right;
  			overflow: hidden;
  			background-color: #e9e9e9;
  			}

		

			.top a{
				float: left;
				
				display: block;
				text-decoration: none;
				padding: 20px;
				color: white;
				text-shadow: 2px 2px 2px gray;}
}
			.container{
				background-color: #555;
				float: right;}
			.top input[type=text]{
 					 padding: 6px;
  					margin-top: 10px;
				 	font-size: 17px;
					border: none;
					}
					
					
		
		
	
		


					
		#form_st{
			height: 600px;
			width: 400px;
			clear: both;

		}

		</style>
		
	</head><body></body>
</html>